	<ion-view view-title="{{ faq.question }}" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-faq_singles" class="page-faq_singles">
		
			<ion-refresher pulling-text="Segarkan"  on-refresh="doRefresh()"></ion-refresher>
			<div class="list ">
					<div class="item"  ng-bind-html="faq.question | to_trusted">{{faq.question}}</div>
					<div class="padding" ><span class="calm-900">{{faq.answer}}</span></div>
			</div>

		</ion-content>
		<!-- ./content -->
	</ion-view>
