	<ion-view view-title="{{ winner.title }}" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-winner_singles" class="page-winner_singles">
		
			<ion-refresher pulling-text="Pull to refresh..."  on-refresh="doRefresh()"></ion-refresher>
			<div class="tabs tabs-calm-900 tabs-icon-top static">
				<a ng-click="$ionicGoBack()" class="tab-item">
					<i class="icon ion-ios-albums-outline"></i> List
				</a>
				<a  class="tab-item tab-item-active active">
					<i class="icon ion-ios-list-outline"></i> Detail
				</a>
				</div>
			<div class="list card">
					<div class="item"  ng-bind-html="winner.title | to_trusted">{{winner.title}}</div>
					<div class="item item-text-wrap noborder to_trusted" ng-bind-html="winner.content | to_trusted"></div>
			</div>

		</ion-content>
		<!-- ./content -->
	</ion-view>
