	<ion-view view-title="Home" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-homepage" class="has-header page-homepage">
		
			<ion-refresher pulling-text="Pull to refresh..."  on-refresh="doRefresh()"></ion-refresher>

			<div class="list">
				<div class="item item-text-wrap" ng-repeat="item in pages | filter:q as results" ng-init="$last ? fireEvent() : null"  >
					<div class="slideshow_container to_trusted" ng-if="item.slidebox" >
							<ion-slides options="{slidesPerView:1}" slider="data.slider" class="slideshow">
								<ion-slide-page class="slideshow-item" ng-repeat="slide_item in  item.slidebox | strExplode:'|' track by $index" >
									<div class="item-text-wrap" ng-bind-html="slide_item | to_trusted"></div>
								</ion-slide-page>
							</ion-slides>
					</div>
					<div ng-bind-html="item.content | to_trusted"></div>
				</div>
			</div>



<!--
print all variable
<pre>
{{ data_pages | json }}
</pre>
-->
                
		</ion-content>
		<!-- ./content -->
	</ion-view>
