<ion-side-menus enable-menu-with-back-views="false">
	<ion-side-menu-content>
		<ion-nav-bar ng-show="$root.headerExists" id="navbar-right-top" class="page-title bar-positive">
			<ion-nav-back-button></ion-nav-back-button>
			<ion-nav-buttons side="left">
				<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
			</ion-nav-buttons>
			<ion-nav-buttons side="right">
				<button class="button button-icon button-clear ion-android-more-vertical" id="menu-popover" ng-click="popover.show($event)"></button>
			</ion-nav-buttons>
		</ion-nav-bar>
		<ion-nav-view name="fabButtonUp"></ion-nav-view>
		<ion-nav-view name="kid_stories-side_menus"></ion-nav-view>
	</ion-side-menu-content>
	<ion-side-menu side="left">
		<ion-header-bar class="text-center expanded positive-bg">
			<img ng-src="data/images/header/logo.png" class="avatar motion spin fade" />
			<div class="menu-bottom">Kid Stories<br/></div>
		</ion-header-bar>
		<ion-content class="has-expanded-header light-bg positive-900">
			<ion-list class="list" >
				<ion-item class="item-divider text-left" >
					Dashboard
				</ion-item>
				<ion-item  ng-soundtouch="true"  class="menu-homepage item-sidebar item item-icon-left text-left dark-ink" nav-clear="" menu-close="" ui-sref="kid_stories.homepage">
					<i class="icon ion-android-apps"></i> Home
				</ion-item>
				<ion-item  ng-soundtouch="true"  class="menu-stories item-sidebar item item-icon-left text-left dark-ink" nav-clear="" menu-close="" ui-sref="kid_stories.stories">
					<i class="icon ion-ios-bookmarks"></i> Stories
				</ion-item>
				<ion-item  ng-soundtouch="true"  class="menu-categories item-sidebar item item-icon-left text-left dark-ink" nav-clear="" menu-close="" ui-sref="kid_stories.categories">
					<i class="icon ion-ios-basketball"></i> Categories
				</ion-item>
				<ion-item  ng-soundtouch="true"  class="menu-winner item-sidebar item item-icon-left text-left dark-ink" nav-clear="" menu-close="" ui-sref="kid_stories.winner">
					<i class="icon ion-trophy"></i> Winner #10
				</ion-item>
				<ion-item class="item-divider text-left" >
					Help
				</ion-item>
				<ion-item  ng-soundtouch="true"  class="menu-faqs item-sidebar item item-icon-left text-left dark-ink" nav-clear="" menu-close="" ui-sref="kid_stories.faqs">
					<i class="icon ion-information-circled"></i> Faqs
				</ion-item>
				<ion-item  ng-soundtouch="true"  class="menu-about_us item-sidebar item item-icon-left text-left dark-ink" nav-clear="" menu-close="" ui-sref="kid_stories.about_us">
					<i class="icon ion-android-star"></i> About Us
				</ion-item>
			</ion-list>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>
